/* 背景 */
.bg-theme { background-color: $theme; }
.bg-black { background-color: $black; }
.bg-white { background-color: $white; }
.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-silver { background-color: $silver; }
.bg-gray { background-color: $gray; }
.bg-maroon { background-color: $maroon; }
.bg-purple { background-color: $purple; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-lime { background-color: $lime; }
.bg-olive { background-color: $olive; }
.bg-navy { background-color: $navy; }
.bg-teal { background-color: $teal; }
.bg-aqua { background-color: $aqua; }

.bg-default { background-color: $default; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-danger { background-color: $danger; }
.bg-info { background-color: $info; }

.bg-light-default { background-color: $lightDefault; }
.bg-light-success { background-color: $lightSuccess; }
.bg-light-warning { background-color: $lightWarning; }
.bg-light-danger { background-color: $lightDanger; }
.bg-light-info { background-color: $lightInfo; }

.bg-primary { background-color: $primary; }
.bg-general { background-color: $general; }
.bg-secondary { background-color: $secondary; }
.bg-placeholder { background-color: $placeholder; }

.bg-border { background-color: $border; }
.bg-bgColor { background-color: $bgColor; }

/* 文字 */
.theme { color: $theme; }
.black { color: $black; }
.red { color: $red; }
.green { color: $green; }
.white { color: $white; }
.blue { color: $blue; }
.silver { color: $silver; }
.gray { color: $gray; }
.maroon { color: $maroon; }
.purple { color: $purple; }
.fuchsia { color: $fuchsia; }
.lime { color: $lime; }
.olive { color: $olive; }
.navy { color: $navy; }
.teal { color: $teal; }
.aqua { color: $aqua; }

.default { color: $default; }
.success { color: $success; }
.warning { color: $warning; }
.danger { color: $danger; }
.info { color: $info; }

.primary { color: $primary; }
.general { color: $general; }
.secondary { color: $secondary; }
.placeholder { color: $placeholder; }
