/**
 * util.css
 *
 * @author linxian
 */

/* 定位 */
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed }
.top { top: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.margin-ceter { top: 0; right: 0; bottom: 0;left: 0; margin: auto; }
.transform-ceter { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.transform-vertical { top: 50%; transform: translateY(-50%); }
.transform-horizontal { left: 50%; transform: translateX(-50%); }

/* 盒子 */
.none { display: none; }
.block { display: block; }
.inline { display: inline; }
.left { float: left; }
.right { float: right; }
.inline-block { display: inline-block; }
.border-box { box-sizing: border-box; }
.content-box { box-sizing: content-box; }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-33 { width: 33.33% }
.w-40 { width: 40% }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-25 { height: 25%; }
.h-30 { height: 30%; }
.h-33 { height: 33.33% }
.h-40 { height: 40% }
.h-50 { height: 50%; }
.h-60 { height: 60%; }
.h-70 { height: 70%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }
.h-100 { height: 100%; }

.w-px-5 { width: 5px; }
.w-px-10 { width: 10px; }
.w-px-15 { width: 15px; }
.w-px-20 { width: 20px; }
.w-px-25 { width: 25px; }
.w-px-30 { width: 30px; }
.w-px-35 { width: 35px; }
.w-px-40 { width: 40px; }
.w-px-45 { width: 45px; }
.w-px-50 { width: 50px; }
.w-px-55 { width: 55px; }
.w-px-60 { width: 60px; }
.w-px-65 { width: 65px; }
.w-px-70 { width: 70px; }
.w-px-75 { width: 75px; }
.w-px-80 { width: 80px; }
.w-px-85 { width: 85px; }
.w-px-90 { width: 90px; }
.w-px-95 { width: 95px; }
.w-px-100 { width: 100px; }
.w-px-150 { width: 150px; }
.w-px-200 { width: 200px; }

.h-px-5 { height: 5px; }
.h-px-10 { height: 10px; }
.h-px-15 { height: 15px; }
.h-px-20 { height: 20px; }
.h-px-25 { height: 25px; }
.h-px-30 { height: 30px; }
.h-px-35 { height: 35px; }
.h-px-40 { height: 40px; }
.h-px-45 { height: 45px; }
.h-px-50 { height: 50px; }
.h-px-55 { height: 55px; }
.h-px-60 { height: 60px; }
.h-px-65 { height: 65px; }
.h-px-70 { height: 70px; }
.h-px-75 { height: 75px; }
.h-px-80 { height: 80px; }
.h-px-85 { height: 85px; }
.h-px-90 { height: 90px; }
.h-px-95 { height: 95px; }
.h-px-100 { height: 100px; }
.h-px-150 { height: 150px; }
.h-px-200 { height: 200px; }

.m-0 { margin: 0 !important; }
.p-5 { padding: 0 !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-35 { padding: 35px !important; }
.p-40 { padding: 40px !important; }
.p-45 { padding: 45px !important; }
.p-50 { padding: 50px !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 1px !important; }
.mt-2 { margin-top: 2px !important; }
.mt-3 { margin-top: 3px !important; }
.mt-4 { margin-top: 4px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-6 { margin-top: 6px !important; }
.mt-7 { margin-top: 7px !important; }
.mt-8 { margin-top: 8px !important; }
.mt-9 { margin-top: 9px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-11 { margin-top: 11px !important; }
.mt-12 { margin-top: 12px !important; }
.mt-13 { margin-top: 13px !important; }
.mt-14 { margin-top: 14px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-16 { margin-top: 16px !important; }
.mt-17 { margin-top: 17px !important; }
.mt-18 { margin-top: 18px !important; }
.mt-19 { margin-top: 19px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-21 { margin-top: 21px !important; }
.mt-22 { margin-top: 22px !important; }
.mt-23 { margin-top: 23px !important; }
.mt-24 { margin-top: 24px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-26 { margin-top: 26px !important; }
.mt-27 { margin-top: 27px !important; }
.mt-28 { margin-top: 28px !important; }
.mt-29 { margin-top: 29px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-31 { margin-top: 31px !important; }
.mt-32 { margin-top: 32px !important; }
.mt-33 { margin-top: 33px !important; }
.mt-34 { margin-top: 34px !important; }
.mt-35 { margin-top: 35px !important; }
.mt-36 { margin-top: 36px !important; }
.mt-37 { margin-top: 37px !important; }
.mt-38 { margin-top: 38px !important; }
.mt-39 { margin-top: 39px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-41 { margin-top: 41px !important; }
.mt-42 { margin-top: 42px !important; }
.mt-43 { margin-top: 43px !important; }
.mt-44 { margin-top: 44px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-46 { margin-top: 46px !important; }
.mt-47 { margin-top: 47px !important; }
.mt-48 { margin-top: 48px !important; }
.mt-49 { margin-top: 49px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-41 { margin-top: 41px !important; }
.mt-42 { margin-top: 42px !important; }
.mt-43 { margin-top: 43px !important; }
.mt-44 { margin-top: 44px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-46 { margin-top: 46px !important; }
.mt-47 { margin-top: 47px !important; }
.mt-48 { margin-top: 48px !important; }
.mt-49 { margin-top: 49px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-55 { margin-top: 55px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-65 { margin-top: 65px !important; }
.mt-70 { margin-top: 70px !important; }
.mt-75 { margin-top: 75px !important; }
.mt-80 { margin-top: 80px !important; }
.mt-85 { margin-top: 85px !important; }
.mt-90 { margin-top: 90px !important; }
.mt-95 { margin-top: 95px !important; }
.mt-100 { margin-top: 100px !important; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 1px !important; }
.mr-2 { margin-right: 2px !important; }
.mr-3 { margin-right: 3px !important; }
.mr-4 { margin-right: 4px !important; }
.mr-5 { margin-right: 5px !important; }
.mr-6 { margin-right: 6px !important; }
.mr-7 { margin-right: 7px !important; }
.mr-8 { margin-right: 8px !important; }
.mr-9 { margin-right: 9px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-11 { margin-right: 11px !important; }
.mr-12 { margin-right: 12px !important; }
.mr-13 { margin-right: 13px !important; }
.mr-14 { margin-right: 14px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-16 { margin-right: 16px !important; }
.mr-17 { margin-right: 17px !important; }
.mr-18 { margin-right: 18px !important; }
.mr-19 { margin-right: 19px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-21 { margin-right: 21px !important; }
.mr-22 { margin-right: 22px !important; }
.mr-23 { margin-right: 23px !important; }
.mr-24 { margin-right: 24px !important; }
.mr-25 { margin-right: 25px !important; }
.mr-26 { margin-right: 26px !important; }
.mr-27 { margin-right: 27px !important; }
.mr-28 { margin-right: 28px !important; }
.mr-29 { margin-right: 29px !important; }
.mr-30 { margin-right: 30px !important; }
.mr-31 { margin-right: 31px !important; }
.mr-32 { margin-right: 32px !important; }
.mr-33 { margin-right: 33px !important; }
.mr-34 { margin-right: 34px !important; }
.mr-35 { margin-right: 35px !important; }
.mr-36 { margin-right: 36px !important; }
.mr-37 { margin-right: 37px !important; }
.mr-38 { margin-right: 38px !important; }
.mr-39 { margin-right: 39px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-41 { margin-right: 41px !important; }
.mr-42 { margin-right: 42px !important; }
.mr-43 { margin-right: 43px !important; }
.mr-44 { margin-right: 44px !important; }
.mr-45 { margin-right: 45px !important; }
.mr-46 { margin-right: 46px !important; }
.mr-47 { margin-right: 47px !important; }
.mr-48 { margin-right: 48px !important; }
.mr-49 { margin-right: 49px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-41 { margin-right: 41px !important; }
.mr-42 { margin-right: 42px !important; }
.mr-43 { margin-right: 43px !important; }
.mr-44 { margin-right: 44px !important; }
.mr-45 { margin-right: 45px !important; }
.mr-46 { margin-right: 46px !important; }
.mr-47 { margin-right: 47px !important; }
.mr-48 { margin-right: 48px !important; }
.mr-49 { margin-right: 49px !important; }
.mr-50 { margin-right: 50px !important; }
.mr-55 { margin-right: 55px !important; }
.mr-60 { margin-right: 60px !important; }
.mr-65 { margin-right: 65px !important; }
.mr-70 { margin-right: 70px !important; }
.mr-75 { margin-right: 75px !important; }
.mr-80 { margin-right: 80px !important; }
.mr-85 { margin-right: 85px !important; }
.mr-90 { margin-right: 90px !important; }
.mr-95 { margin-right: 95px !important; }
.mr-100 { margin-right: 100px !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1px !important; }
.mb-2 { margin-bottom: 2px !important; }
.mb-3 { margin-bottom: 3px !important; }
.mb-4 { margin-bottom: 4px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-6 { margin-bottom: 6px !important; }
.mb-7 { margin-bottom: 7px !important; }
.mb-8 { margin-bottom: 8px !important; }
.mb-9 { margin-bottom: 9px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-11 { margin-bottom: 11px !important; }
.mb-12 { margin-bottom: 12px !important; }
.mb-13 { margin-bottom: 13px !important; }
.mb-14 { margin-bottom: 14px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-16 { margin-bottom: 16px !important; }
.mb-17 { margin-bottom: 17px !important; }
.mb-18 { margin-bottom: 18px !important; }
.mb-19 { margin-bottom: 19px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-21 { margin-bottom: 21px !important; }
.mb-22 { margin-bottom: 22px !important; }
.mb-23 { margin-bottom: 23px !important; }
.mb-24 { margin-bottom: 24px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-26 { margin-bottom: 26px !important; }
.mb-27 { margin-bottom: 27px !important; }
.mb-28 { margin-bottom: 28px !important; }
.mb-29 { margin-bottom: 29px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-31 { margin-bottom: 31px !important; }
.mb-32 { margin-bottom: 32px !important; }
.mb-33 { margin-bottom: 33px !important; }
.mb-34 { margin-bottom: 34px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-36 { margin-bottom: 36px !important; }
.mb-37 { margin-bottom: 37px !important; }
.mb-38 { margin-bottom: 38px !important; }
.mb-39 { margin-bottom: 39px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-41 { margin-bottom: 41px !important; }
.mb-42 { margin-bottom: 42px !important; }
.mb-43 { margin-bottom: 43px !important; }
.mb-44 { margin-bottom: 44px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-46 { margin-bottom: 46px !important; }
.mb-47 { margin-bottom: 47px !important; }
.mb-48 { margin-bottom: 48px !important; }
.mb-49 { margin-bottom: 49px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-41 { margin-bottom: 41px !important; }
.mb-42 { margin-bottom: 42px !important; }
.mb-43 { margin-bottom: 43px !important; }
.mb-44 { margin-bottom: 44px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-46 { margin-bottom: 46px !important; }
.mb-47 { margin-bottom: 47px !important; }
.mb-48 { margin-bottom: 48px !important; }
.mb-49 { margin-bottom: 49px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-55 { margin-bottom: 55px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-65 { margin-bottom: 65px !important; }
.mb-70 { margin-bottom: 70px !important; }
.mb-75 { margin-bottom: 75px !important; }
.mb-80 { margin-bottom: 80px !important; }
.mb-85 { margin-bottom: 85px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-95 { margin-bottom: 95px !important; }
.mb-100 { margin-bottom: 100px !important; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 1px !important; }
.ml-2 { margin-left: 2px !important; }
.ml-3 { margin-left: 3px !important; }
.ml-4 { margin-left: 4px !important; }
.ml-5 { margin-left: 5px !important; }
.ml-6 { margin-left: 6px !important; }
.ml-7 { margin-left: 7px !important; }
.ml-8 { margin-left: 8px !important; }
.ml-9 { margin-left: 9px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-11 { margin-left: 11px !important; }
.ml-12 { margin-left: 12px !important; }
.ml-13 { margin-left: 13px !important; }
.ml-14 { margin-left: 14px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-16 { margin-left: 16px !important; }
.ml-17 { margin-left: 17px !important; }
.ml-18 { margin-left: 18px !important; }
.ml-19 { margin-left: 19px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-21 { margin-left: 21px !important; }
.ml-22 { margin-left: 22px !important; }
.ml-23 { margin-left: 23px !important; }
.ml-24 { margin-left: 24px !important; }
.ml-25 { margin-left: 25px !important; }
.ml-26 { margin-left: 26px !important; }
.ml-27 { margin-left: 27px !important; }
.ml-28 { margin-left: 28px !important; }
.ml-29 { margin-left: 29px !important; }
.ml-30 { margin-left: 30px !important; }
.ml-31 { margin-left: 31px !important; }
.ml-32 { margin-left: 32px !important; }
.ml-33 { margin-left: 33px !important; }
.ml-34 { margin-left: 34px !important; }
.ml-35 { margin-left: 35px !important; }
.ml-36 { margin-left: 36px !important; }
.ml-37 { margin-left: 37px !important; }
.ml-38 { margin-left: 38px !important; }
.ml-39 { margin-left: 39px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-41 { margin-left: 41px !important; }
.ml-42 { margin-left: 42px !important; }
.ml-43 { margin-left: 43px !important; }
.ml-44 { margin-left: 44px !important; }
.ml-45 { margin-left: 45px !important; }
.ml-46 { margin-left: 46px !important; }
.ml-47 { margin-left: 47px !important; }
.ml-48 { margin-left: 48px !important; }
.ml-49 { margin-left: 49px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-41 { margin-left: 41px !important; }
.ml-42 { margin-left: 42px !important; }
.ml-43 { margin-left: 43px !important; }
.ml-44 { margin-left: 44px !important; }
.ml-45 { margin-left: 45px !important; }
.ml-46 { margin-left: 46px !important; }
.ml-47 { margin-left: 47px !important; }
.ml-48 { margin-left: 48px !important; }
.ml-49 { margin-left: 49px !important; }
.ml-50 { margin-left: 50px !important; }
.ml-55 { margin-left: 55px !important; }
.ml-60 { margin-left: 60px !important; }
.ml-65 { margin-left: 65px !important; }
.ml-70 { margin-left: 70px !important; }
.ml-75 { margin-left: 75px !important; }
.ml-80 { margin-left: 80px !important; }
.ml-85 { margin-left: 85px !important; }
.ml-90 { margin-left: 90px !important; }
.ml-95 { margin-left: 95px !important; }
.ml-100 { margin-left: 100px !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 1px !important; }
.pt-2 { padding-top: 2px !important; }
.pt-3 { padding-top: 3px !important; }
.pt-4 { padding-top: 4px !important; }
.pt-5 { padding-top: 5px !important; }
.pt-6 { padding-top: 6px !important; }
.pt-7 { padding-top: 7px !important; }
.pt-8 { padding-top: 8px !important; }
.pt-9 { padding-top: 9px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-11 { padding-top: 11px !important; }
.pt-12 { padding-top: 12px !important; }
.pt-13 { padding-top: 13px !important; }
.pt-14 { padding-top: 14px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-16 { padding-top: 16px !important; }
.pt-17 { padding-top: 17px !important; }
.pt-18 { padding-top: 18px !important; }
.pt-19 { padding-top: 19px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-21 { padding-top: 21px !important; }
.pt-22 { padding-top: 22px !important; }
.pt-23 { padding-top: 23px !important; }
.pt-24 { padding-top: 24px !important; }
.pt-25 { padding-top: 25px !important; }
.pt-26 { padding-top: 26px !important; }
.pt-27 { padding-top: 27px !important; }
.pt-28 { padding-top: 28px !important; }
.pt-29 { padding-top: 29px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-31 { padding-top: 31px !important; }
.pt-32 { padding-top: 32px !important; }
.pt-33 { padding-top: 33px !important; }
.pt-34 { padding-top: 34px !important; }
.pt-35 { padding-top: 35px !important; }
.pt-36 { padding-top: 36px !important; }
.pt-37 { padding-top: 37px !important; }
.pt-38 { padding-top: 38px !important; }
.pt-39 { padding-top: 39px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-41 { padding-top: 41px !important; }
.pt-42 { padding-top: 42px !important; }
.pt-43 { padding-top: 43px !important; }
.pt-44 { padding-top: 44px !important; }
.pt-45 { padding-top: 45px !important; }
.pt-46 { padding-top: 46px !important; }
.pt-47 { padding-top: 47px !important; }
.pt-48 { padding-top: 48px !important; }
.pt-49 { padding-top: 49px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-41 { padding-top: 41px !important; }
.pt-42 { padding-top: 42px !important; }
.pt-43 { padding-top: 43px !important; }
.pt-44 { padding-top: 44px !important; }
.pt-45 { padding-top: 45px !important; }
.pt-46 { padding-top: 46px !important; }
.pt-47 { padding-top: 47px !important; }
.pt-48 { padding-top: 48px !important; }
.pt-49 { padding-top: 49px !important; }
.pt-50 { padding-top: 50px !important; }
.pt-55 { padding-top: 55px !important; }
.pt-60 { padding-top: 60px !important; }
.pt-65 { padding-top: 65px !important; }
.pt-70 { padding-top: 70px !important; }
.pt-75 { padding-top: 75px !important; }
.pt-80 { padding-top: 80px !important; }
.pt-85 { padding-top: 85px !important; }
.pt-90 { padding-top: 90px !important; }
.pt-95 { padding-top: 95px !important; }
.pt-100 { padding-top: 100px !important; }

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: 1px !important; }
.pr-2 { padding-right: 2px !important; }
.pr-3 { padding-right: 3px !important; }
.pr-4 { padding-right: 4px !important; }
.pr-5 { padding-right: 5px !important; }
.pr-6 { padding-right: 6px !important; }
.pr-7 { padding-right: 7px !important; }
.pr-8 { padding-right: 8px !important; }
.pr-9 { padding-right: 9px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-11 { padding-right: 11px !important; }
.pr-12 { padding-right: 12px !important; }
.pr-13 { padding-right: 13px !important; }
.pr-14 { padding-right: 14px !important; }
.pr-15 { padding-right: 15px !important; }
.pr-16 { padding-right: 16px !important; }
.pr-17 { padding-right: 17px !important; }
.pr-18 { padding-right: 18px !important; }
.pr-19 { padding-right: 19px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-21 { padding-right: 21px !important; }
.pr-22 { padding-right: 22px !important; }
.pr-23 { padding-right: 23px !important; }
.pr-24 { padding-right: 24px !important; }
.pr-25 { padding-right: 25px !important; }
.pr-26 { padding-right: 26px !important; }
.pr-27 { padding-right: 27px !important; }
.pr-28 { padding-right: 28px !important; }
.pr-29 { padding-right: 29px !important; }
.pr-30 { padding-right: 30px !important; }
.pr-31 { padding-right: 31px !important; }
.pr-32 { padding-right: 32px !important; }
.pr-33 { padding-right: 33px !important; }
.pr-34 { padding-right: 34px !important; }
.pr-35 { padding-right: 35px !important; }
.pr-36 { padding-right: 36px !important; }
.pr-37 { padding-right: 37px !important; }
.pr-38 { padding-right: 38px !important; }
.pr-39 { padding-right: 39px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-41 { padding-right: 41px !important; }
.pr-42 { padding-right: 42px !important; }
.pr-43 { padding-right: 43px !important; }
.pr-44 { padding-right: 44px !important; }
.pr-45 { padding-right: 45px !important; }
.pr-46 { padding-right: 46px !important; }
.pr-47 { padding-right: 47px !important; }
.pr-48 { padding-right: 48px !important; }
.pr-49 { padding-right: 49px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-41 { padding-right: 41px !important; }
.pr-42 { padding-right: 42px !important; }
.pr-43 { padding-right: 43px !important; }
.pr-44 { padding-right: 44px !important; }
.pr-45 { padding-right: 45px !important; }
.pr-46 { padding-right: 46px !important; }
.pr-47 { padding-right: 47px !important; }
.pr-48 { padding-right: 48px !important; }
.pr-49 { padding-right: 49px !important; }
.pr-50 { padding-right: 50px !important; }
.pr-55 { padding-right: 55px !important; }
.pr-60 { padding-right: 60px !important; }
.pr-65 { padding-right: 65px !important; }
.pr-70 { padding-right: 70px !important; }
.pr-75 { padding-right: 75px !important; }
.pr-80 { padding-right: 80px !important; }
.pr-85 { padding-right: 85px !important; }
.pr-90 { padding-right: 90px !important; }
.pr-95 { padding-right: 95px !important; }
.pr-100 { padding-right: 100px !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 1px !important; }
.pb-2 { padding-bottom: 2px !important; }
.pb-3 { padding-bottom: 3px !important; }
.pb-4 { padding-bottom: 4px !important; }
.pb-5 { padding-bottom: 5px !important; }
.pb-6 { padding-bottom: 6px !important; }
.pb-7 { padding-bottom: 7px !important; }
.pb-8 { padding-bottom: 8px !important; }
.pb-9 { padding-bottom: 9px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-11 { padding-bottom: 11px !important; }
.pb-12 { padding-bottom: 12px !important; }
.pb-13 { padding-bottom: 13px !important; }
.pb-14 { padding-bottom: 14px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pb-16 { padding-bottom: 16px !important; }
.pb-17 { padding-bottom: 17px !important; }
.pb-18 { padding-bottom: 18px !important; }
.pb-19 { padding-bottom: 19px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-21 { padding-bottom: 21px !important; }
.pb-22 { padding-bottom: 22px !important; }
.pb-23 { padding-bottom: 23px !important; }
.pb-24 { padding-bottom: 24px !important; }
.pb-25 { padding-bottom: 25px !important; }
.pb-26 { padding-bottom: 26px !important; }
.pb-27 { padding-bottom: 27px !important; }
.pb-28 { padding-bottom: 28px !important; }
.pb-29 { padding-bottom: 29px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-31 { padding-bottom: 31px !important; }
.pb-32 { padding-bottom: 32px !important; }
.pb-33 { padding-bottom: 33px !important; }
.pb-34 { padding-bottom: 34px !important; }
.pb-35 { padding-bottom: 35px !important; }
.pb-36 { padding-bottom: 36px !important; }
.pb-37 { padding-bottom: 37px !important; }
.pb-38 { padding-bottom: 38px !important; }
.pb-39 { padding-bottom: 39px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-41 { padding-bottom: 41px !important; }
.pb-42 { padding-bottom: 42px !important; }
.pb-43 { padding-bottom: 43px !important; }
.pb-44 { padding-bottom: 44px !important; }
.pb-45 { padding-bottom: 45px !important; }
.pb-46 { padding-bottom: 46px !important; }
.pb-47 { padding-bottom: 47px !important; }
.pb-48 { padding-bottom: 48px !important; }
.pb-49 { padding-bottom: 49px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-41 { padding-bottom: 41px !important; }
.pb-42 { padding-bottom: 42px !important; }
.pb-43 { padding-bottom: 43px !important; }
.pb-44 { padding-bottom: 44px !important; }
.pb-45 { padding-bottom: 45px !important; }
.pb-46 { padding-bottom: 46px !important; }
.pb-47 { padding-bottom: 47px !important; }
.pb-48 { padding-bottom: 48px !important; }
.pb-49 { padding-bottom: 49px !important; }
.pb-50 { padding-bottom: 50px !important; }
.pb-55 { padding-bottom: 55px !important; }
.pb-60 { padding-bottom: 60px !important; }
.pb-65 { padding-bottom: 65px !important; }
.pb-70 { padding-bottom: 70px !important; }
.pb-75 { padding-bottom: 75px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pb-85 { padding-bottom: 85px !important; }
.pb-90 { padding-bottom: 90px !important; }
.pb-95 { padding-bottom: 95px !important; }
.pb-100 { padding-bottom: 100px !important; }

.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: 1px !important; }
.pl-2 { padding-left: 2px !important; }
.pl-3 { padding-left: 3px !important; }
.pl-4 { padding-left: 4px !important; }
.pl-5 { padding-left: 5px !important; }
.pl-6 { padding-left: 6px !important; }
.pl-7 { padding-left: 7px !important; }
.pl-8 { padding-left: 8px !important; }
.pl-9 { padding-left: 9px !important; }
.pl-10 { padding-left: 10px !important; }
.pl-11 { padding-left: 11px !important; }
.pl-12 { padding-left: 12px !important; }
.pl-13 { padding-left: 13px !important; }
.pl-14 { padding-left: 14px !important; }
.pl-15 { padding-left: 15px !important; }
.pl-16 { padding-left: 16px !important; }
.pl-17 { padding-left: 17px !important; }
.pl-18 { padding-left: 18px !important; }
.pl-19 { padding-left: 19px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-21 { padding-left: 21px !important; }
.pl-22 { padding-left: 22px !important; }
.pl-23 { padding-left: 23px !important; }
.pl-24 { padding-left: 24px !important; }
.pl-25 { padding-left: 25px !important; }
.pl-26 { padding-left: 26px !important; }
.pl-27 { padding-left: 27px !important; }
.pl-28 { padding-left: 28px !important; }
.pl-29 { padding-left: 29px !important; }
.pl-30 { padding-left: 30px !important; }
.pl-31 { padding-left: 31px !important; }
.pl-32 { padding-left: 32px !important; }
.pl-33 { padding-left: 33px !important; }
.pl-34 { padding-left: 34px !important; }
.pl-35 { padding-left: 35px !important; }
.pl-36 { padding-left: 36px !important; }
.pl-37 { padding-left: 37px !important; }
.pl-38 { padding-left: 38px !important; }
.pl-39 { padding-left: 39px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-41 { padding-left: 41px !important; }
.pl-42 { padding-left: 42px !important; }
.pl-43 { padding-left: 43px !important; }
.pl-44 { padding-left: 44px !important; }
.pl-45 { padding-left: 45px !important; }
.pl-46 { padding-left: 46px !important; }
.pl-47 { padding-left: 47px !important; }
.pl-48 { padding-left: 48px !important; }
.pl-49 { padding-left: 49px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-41 { padding-left: 41px !important; }
.pl-42 { padding-left: 42px !important; }
.pl-43 { padding-left: 43px !important; }
.pl-44 { padding-left: 44px !important; }
.pl-45 { padding-left: 45px !important; }
.pl-46 { padding-left: 46px !important; }
.pl-47 { padding-left: 47px !important; }
.pl-48 { padding-left: 48px !important; }
.pl-49 { padding-left: 49px !important; }
.pl-50 { padding-left: 50px !important; }
.pl-55 { padding-left: 55px !important; }
.pl-60 { padding-left: 60px !important; }
.pl-65 { padding-left: 65px !important; }
.pl-70 { padding-left: 70px !important; }
.pl-75 { padding-left: 75px !important; }
.pl-80 { padding-left: 80px !important; }
.pl-85 { padding-left: 85px !important; }
.pl-90 { padding-left: 90px !important; }
.pl-95 { padding-left: 95px !important; }
.pl-100 { padding-left: 100px !important; }

/**
 * 边框
 *
 * border: 0; 比 border: none; 多渲染了一个 border-width: 0;
 * border: none; 的性能要比 border: 0; 高
 */
.border-top-none { border-top: none !important; }
.border-right-none { border-right: none !important; }
.border-bottom-none { border-bottom: none !important; }
.border-left-none { border-left: none !important; }

.border-top-1 { border-top: 1px solid; }
.border-right-1 { border-right: 1px solid; }
.border-bottom-1 { border-bottom: 1px solid; }
.border-left-1 { border-left: 1px solid; }

.border-dashed { border-style:dashed; }
.border-dotted { border-style:dotted; }

.radius-1 { border-radius: 1px; }
.radius-2 { border-radius: 2px; }
.radius-3 { border-radius: 3px; }
.radius-4 { border-radius: 4px; }
.radius-5 { border-radius: 5px; }
.radius-10 { border-radius: 10px; }
.radius-15 { border-radius: 15px; }
.radius-20 { border-radius: 20px; }
.circle { border-radius: 50%; }

/* 背景 */
.bg-center { background-position: center; }
.bg-cover { background-size: cover; }
.bg-no-repeat { background-repeat: no-repeat; }

/* 溢出 */
.hidden { overflow: hidden; }
.scroll-x { overflow-x: scroll; }
.scroll-y { overflow-y: scroll; }

/* 透明 */
.opacity-0 { opacity: 0; }
.opacity-1 { opacity: .1; }
.opacity-2 { opacity: .2; }
.opacity-3 { opacity: .3; }
.opacity-4 { opacity: .4; }
.opacity-5 { opacity: .5; }
.opacity-6 { opacity: .6; }
.opacity-7 { opacity: .7; }
.opacity-8 { opacity: .8; }
.opacity-9 { opacity: .9; }
.opacity-10 { opacity: 1; }

/* 字体 */
.fs-0 { font-size: 0 !important; }
.fs-1 { font-size: 1px !important; }
.fs-2 { font-size: 2px !important; }
.fs-3 { font-size: 3px !important; }
.fs-4 { font-size: 4px !important; }
.fs-5 { font-size: 5px !important; }
.fs-6 { font-size: 6px !important; }
.fs-7 { font-size: 7px !important; }
.fs-8 { font-size: 8px !important; }
.fs-9 { font-size: 9px !important; }
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }
.fs-16 { font-size: 16px !important; }
.fs-17 { font-size: 17px !important; }
.fs-18 { font-size: 18px !important; }
.fs-19 { font-size: 19px !important; }
.fs-20 { font-size: 20px !important; }
.fs-21 { font-size: 21px !important; }
.fs-22 { font-size: 22px !important; }
.fs-23 { font-size: 23px !important; }
.fs-24 { font-size: 24px !important; }
.fs-25 { font-size: 25px !important; }
.fs-26 { font-size: 26px !important; }
.fs-27 { font-size: 27px !important; }
.fs-28 { font-size: 28px !important; }
.fs-29 { font-size: 29px !important; }
.fs-30 { font-size: 30px !important; }
.fs-31 { font-size: 31px !important; }
.fs-32 { font-size: 32px !important; }
.fs-33 { font-size: 33px !important; }
.fs-34 { font-size: 34px !important; }
.fs-35 { font-size: 35px !important; }
.fs-36 { font-size: 36px !important; }
.fs-37 { font-size: 37px !important; }
.fs-38 { font-size: 38px !important; }
.fs-39 { font-size: 39px !important; }
.fs-40 { font-size: 40px !important; }
.fs-41 { font-size: 41px !important; }
.fs-42 { font-size: 42px !important; }
.fs-43 { font-size: 43px !important; }
.fs-44 { font-size: 44px !important; }
.fs-45 { font-size: 45px !important; }
.fs-46 { font-size: 46px !important; }
.fs-47 { font-size: 47px !important; }
.fs-48 { font-size: 48px !important; }
.fs-49 { font-size: 49px !important; }
.fs-50 { font-size: 50px !important; }

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-none { text-decoration: none; }
.text-blink { text-decoration: blink; }
.text-overline { text-decoration: overline; }
.text-underline { text-decoration: underline; }
.text-line-through { text-decoration: line-through; }

.text-indent-2 { text-indent: 2em; }

/* 文字省略 */
.text-line-1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.text-line-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.text-line-3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

/* 文本对齐 */
.justify {
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.lh-1 { line-height: 1; }
.lh-1-1 { line-height: 1.1; }
.lh-1-2 { line-height: 1.2; }
.lh-1-3 { line-height: 1.3; }
.lh-1-4 { line-height: 1.4; }
.lh-1-5 { line-height: 1.5; }
.lh-1-6 { line-height: 1.6; }
.lh-1-7 { line-height: 1.7; }
.lh-1-8 { line-height: 1.8; }
.lh-1-9 { line-height: 1.9; }
.lh-2 { line-height: 2; }
.lh-px-5 { line-height: 5px; }
.lh-px-10 { line-height: 10px; }
.lh-px-15 { line-height: 15px; }
.lh-px-20 { line-height: 20px; }
.lh-px-25 { line-height: 25px; }
.lh-px-30 { line-height: 30px; }
.lh-px-35 { line-height: 35px; }
.lh-px-40 { line-height: 40px; }
.lh-px-45 { line-height: 45px; }
.lh-px-50 { line-height: 50px; }
.lh-px-55 { line-height: 55px; }
.lh-px-60 { line-height: 60px; }
.lh-px-65 { line-height: 65px; }
.lh-px-70 { line-height: 70px; }
.lh-px-75 { line-height: 75px; }
.lh-px-80 { line-height: 80px; }
.lh-px-85 { line-height: 85px; }
.lh-px-90 { line-height: 90px; }
.lh-px-95 { line-height: 95px; }
.lh-px-100 { line-height: 100px; }

/* 鼠标 */
.pointer { cursor: pointer; }

/* 2D */
.scale-1 { transform: scale(.1) }
.scale-2 { transform: scale(.2) }
.scale-3 { transform: scale(.3) }
.scale-4 { transform: scale(.4) }
.scale-5 { transform: scale(.5) }
.scale-6 { transform: scale(.6) }
.scale-7 { transform: scale(.7) }
.scale-8 { transform: scale(.8) }
.scale-9 { transform: scale(.9) }
.scale-10 { transform: scale(1) }

/* 动画 */
.ani-slideInDown {
  animation-name: slideInDown;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* 弹性布局 */
.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.justify-center { justify-content: center; }
.justify-space-around { justify-content: space-around; }
.justify-space-between { justify-content: space-between; }
.justify-flex-start { justify-content: flex-start; }
.justify-flex-end { justify-content: flex-end; }
.align-center { align-items: center; }
.align-stretch { align-items: stretch; }
.align-baseline { align-items: baseline; }
.align-flex-start { align-items: flex-start; }
.align-flex-end { align-items: flex-end; }

/* 栅格布局 */
.row { display: flex; flex-wrap: wrap; }
.col-12 { width: 100%; }
.col-11 { width: 91.67%; }
.col-10 { width: 83.33%; }
.col-9 { width: 75%; }
.col-8 { width: 66.67%; }
.col-7 { width: 58.33%; }
.col-6 { width: 50%; }
.col-5 { width: 41.67%; }
.col-4 { width: 33.33%; }
.col-3 { width: 25%; }
.col-2 { width: 16.67%; }
.col-1 { width: 8.33%; }

/* 蒙层 */
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .6);
}
